---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout>
  <h1>Blog</h1>
  <ul>
    <li><a href="/blog/greenville-sc-local-beer-events">Greenville SC local beer events</a></li>
    <li><a href="/blog/european-beer-history-and-culture">European beer history and culture</a></li>
    <li><a href="/blog/brewery-news">Brewery news</a></li>
  </ul>
</BaseLayout>
